{% extends "base2.html" %}

{% block content %}
<main class="post-form-container">
        <h2>Create New Post</h2>
        <form class="post-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Choose Image:</label>
            <input type="file" id="image" name="image" required>

            <label for="caption">Caption:</label>
            <textarea id="caption" name="caption" rows="3" placeholder="Write a caption..."></textarea>

            <button type="submit">Post</button>
        </form>
</main>
{% endblock content %}


